# Import libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [56]:
df = pd.read_csv('C:/Users/DINESH/Desktop/my_movies.csv')
df

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
5,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
6,Harry Potter1,Harry Potter2,NaN,NaN,NaN,0,0,0,1,0,0,1,0,0,0
7,Gladiator,Patriot,NaN,NaN,NaN,0,1,0,0,1,0,0,0,0,0
8,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
9,Sixth Sense,LOTR,Gladiator,Green Mile,NaN,1,1,0,0,0,0,0,1,0,1

In [57]:
df=pd.get_dummies(df)
df.head()

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,...,V2_LOTR,V2_LOTR1,V2_LOTR2,V2_Patriot,V3_Braveheart,V3_Gladiator,V3_Harry Potter1,V3_Sixth Sense,V4_Green Mile,V5_LOTR2
0,1,0,1,1,0,1,0,0,0,1,...,0,1,0,0,0,0,1,0,1,1
1,0,1,0,0,1,0,0,0,1,0,...,0,0,0,1,1,0,0,0,0,0
2,0,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0

# Apriori Algorithm

In [58]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

      support                                           itemsets
0         0.6                                      (Sixth Sense)
1         0.7                                        (Gladiator)
2         0.2                                            (LOTR1)
3         0.2                                    (Harry Potter1)
4         0.6                                          (Patriot)
...       ...                                                ...
1392      0.1  (Harry Potter1, Green Mile, LOTR1, Sixth Sense...
1393      0.1  (Green Mile, LOTR1, Sixth Sense, V2_LOTR1, V3_...
1394      0.1  (Harry Potter1, Green Mile, Sixth Sense, V2_LO...
1395      0.1  (Harry Potter1, Green Mile, LOTR1, V2_LOTR1, V...
1396      0.1  (Harry Potter1, Green Mile, LOTR1, Sixth Sense...

[1397 rows x 2 columns]

In [59]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
1,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
2,(LOTR1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
3,(Sixth Sense),(LOTR1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
4,(Sixth Sense),(Harry Potter1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
...,...,...,...,...,...,...,...,...,...
64247,(V3_Harry Potter1),"(Harry Potter1, Green Mile, LOTR1, Sixth Sense...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64248,(LOTR2),"(Harry Potter1, Green Mile, LOTR1, Sixth Sense...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64249,(V5_LOTR2),"(Harry Potter1, Green Mile, LOTR1, Sixth Sense...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64250,(V4_Green Mile),"(Harry Potter1, Green Mile, LOTR1, Sixth Sense...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64251,(V1_Sixth Sense),"(Harry Potter1, Green Mile, LOTR1, Sixth Sense...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80

An leverage value of 0 indicates independence. Range will be [-1 1]
A high conviction value means that the consequent is highly depending on the antecedent and range [0 inf]

In [60]:
rules.sort_values('lift',ascending = False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
32126,"(LOTR2, Sixth Sense, Harry Potter1, V3_Harry P...","(Green Mile, LOTR1, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33437,"(LOTR2, V2_LOTR1, V4_Green Mile)","(LOTR1, V5_LOTR2, Sixth Sense, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33415,"(V5_LOTR2, V2_LOTR1, Harry Potter1)","(LOTR2, LOTR1, Sixth Sense, V4_Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33416,"(V2_LOTR1, Harry Potter1, V4_Green Mile)","(LOTR2, LOTR1, V5_LOTR2, Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33417,"(LOTR2, V5_LOTR2, Harry Potter1)","(LOTR1, Sixth Sense, V2_LOTR1, V4_Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33418,"(LOTR2, Harry Potter1, V4_Green Mile)","(LOTR1, V5_LOTR2, Sixth Sense, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33419,"(V5_LOTR2, Harry Potter1, V4_Green Mile)","(LOTR2, LOTR1, Sixth Sense, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33420,"(LOTR1, Sixth Sense, V2_LOTR1)","(LOTR2, V5_LOTR2, Harry Potter1, V4_Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33421,"(LOTR2, LOTR1, Sixth Sense)","(V5_LOTR2, V2_LOTR1, Harry Potter1, V4_Green M...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33422,"(LOTR1, V5_LOTR2, Sixth Sense)","(LOTR2, V2_LOTR1, Harry Potter1, V4_Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33423,"(LOTR1, Sixth Sense, V4_Green Mile)","(LOTR2, V5_LOTR2, V2_LOTR1, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33424,"(LOTR2, LOTR1, V2_LOTR1)","(V5_LOTR2, Sixth Sense, Harry Potter1, V4_Gree...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33425,"(LOTR1, V5_LOTR2, V2_LOTR1)","(LOTR2, Sixth Sense, Harry Potter1, V4_Green M...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33426,"(LOTR1, V2_LOTR1, V4_Green Mile)","(LOTR2, V5_LOTR2, Sixth Sense, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33427,"(LOTR2, LOTR1, V5_LOTR2)","(Sixth Sense, V2_LOTR1, Harry Potter1, V4_Gree...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33428,"(LOTR2, LOTR1, V4_Green Mile)","(V5_LOTR2, Sixth Sense, V2_LOTR1, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33429,"(LOTR1, V5_LOTR2, V4_Green Mile)","(LOTR2, Sixth Sense, V2_LOTR1, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33430,"(LOTR2, Sixth Sense, V2_LOTR1)","(LOTR1, V5_LOTR2, Harry Potter1, V4_Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33431,"(V5_LOTR2, Sixth Sense, V2_LOTR1)","(LOTR2, LOTR1, Harry Potter1, V4_Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33432,"(Sixth Sense, V2_LOTR1, V4_Green Mile)","(LOTR2, LOTR1, V5_LOTR2, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf

In [63]:
rules[rules.lift>9]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
124,(Harry Potter2),(V1_Harry Potter1),0.1,0.1,0.1,1.0,10.0,0.09,inf
125,(V1_Harry Potter1),(Harry Potter2),0.1,0.1,0.1,1.0,10.0,0.09,inf
126,(Harry Potter2),(V2_Harry Potter2),0.1,0.1,0.1,1.0,10.0,0.09,inf
127,(V2_Harry Potter2),(Harry Potter2),0.1,0.1,0.1,1.0,10.0,0.09,inf
132,(LOTR),(V2_LOTR),0.1,0.1,0.1,1.0,10.0,0.09,inf
...,...,...,...,...,...,...,...,...,...
64239,"(V5_LOTR2, V4_Green Mile)","(Harry Potter1, Green Mile, LOTR1, Sixth Sense...",0.1,0.1,0.1,1.0,10.0,0.09,inf
64240,"(V5_LOTR2, V1_Sixth Sense)","(Harry Potter1, Green Mile, LOTR1, Sixth Sense...",0.1,0.1,0.1,1.0,10.0,0.09,inf
64246,(V2_LOTR1),"(Harry Potter1, Green Mile, LOTR1, Sixth Sense...",0.1,0.1,0.1,1.0,10.0,0.09,inf
64247,(V3_Harry Potter1),"(Harry Potter1, Green Mile, LOTR1, Sixth Sense...",0.1,0.1,0.1,1.0,10.0,0.09,inf
64249,(V5_LOTR2),"(Harry Potter1, Green Mile, LOTR1, Sixth Sense...",0.1,0.1,0.1,1.0,10.0,0.09,inf